<h1 mat-dialog-title *ngIf="data">EDITAR CHONGO</h1>
<h1 mat-dialog-title *ngIf="crear">CREAR CHONGO</h1>

<div mat-dialog-content>
  <form #formularioEditar="ngForm" >
    <div>
      <label for="nombreId">Nombre: </label>
      <input id="nombreId"
             type="text"
             name="nombre"
             required
             title="Llenar el Nombre"
             minlength="3"
             maxlength="15"
             placeholder="{{nombreChongoris}}"
             #nombreInput ="ngModel"
             [(ngModel)]="nombreChongoris">
    </div>
    <div *ngIf="nombreInput.touched && nombreInput.dirty && nombreInput.errors">
      <p *ngIf="nombreInput.errors.required ">
        Este campo es requerido.
      </p>
      <p *ngIf="nombreInput.errors.minlength ">
        llenar con un minimo de 2 caracteres
      </p>
      <p *ngIf="nombreInput.errors.maxlength ">
        Llenar con un maximo de 200 caracteres
      </p>
    </div>
    <br>
    <div>
      <label for="apellidoId">Direccion: </label>
      <input id="apellidoId"
             type="text"
             name="apellido"
             required
             placeholder="{{direccion}}"
             title="Llenar el Apellido"
             minlength="3"
             maxlength="15"
             [(ngModel)]="direccion"
             #apellidoI = "ngModel">
    </div>
    <div *ngIf="apellidoI.touched && apellidoI.dirty && apellidoI.errors">
      <p *ngIf="apellidoI.errors.required ">
        Este campo es requerido.
      </p>
      <p *ngIf="apellidoI.errors.minlength ">
        llenar con un minimo de 2 caracteres
      </p>
      <p *ngIf="apellidoI.errors.maxlength ">
        Llenar con un maximo de 200 caracteres
      </p>
    </div>
    <br>
    <div>
      <label for="fechaNacimiento">Fecha de apertura: </label>
      <input id="fechaNacimiento"
             type="date"
             required
             placeholder="{{fechaApertura}}"
             name="fechaNacimiento"
             [(ngModel)]="fechaApertura"
             #fechaI = "ngModel"
             max="2020-02-19"
      >
    </div>
    <div *ngIf="fechaI.touched && fechaI.dirty && fechaI.errors">
      <p *ngIf="fechaI.errors.required ">
        Este campo es requerido.
      </p>
    </div>
    <br>
    <div>
      <label for="numeroMedalla">Numero de Estrellas: </label>
      <input id="numeroMedalla"
             type="number"
             name="numeroMedalla"
             placeholder="{{numeroEstrellas}}"
             required
             title="Colocar el numero de medallas"
             min="0"
             max="120"
             [(ngModel)]="numeroEstrellas"
             #medallasId = 'ngModel'>
    </div>
    <div *ngIf="medallasId.touched && medallasId.dirty && medallasId.errors">
      <p *ngIf="medallasId.errors.required ">
        Este campo es requerido.
    </div>
    <br>
    <!--
    <div>
      <label for="campeonActual">Horario de apertura: </label>
      <select name="campeonActualol"
              id="campeonActual"
              required
              #campeonI = "ngModel"
              [(ngModel)]="horarioApertura"
      >
        <option>Si</option>
        <option>No</option>
      </select>
    </div>
    <div *ngIf="campeonI.touched && campeonI.dirty && campeonI.errors">
      <p *ngIf="campeonI.errors.required ">
        Este campo es requerido.
    </div>
-->
    <div>
      <label for="campeonActualol">Horario de apertura: </label>
      <input id="campeonActualol"
             type="text"
             name="campeonActual"
             placeholder="{{horarioApertura}}"
             required
             title="Colocar el horario de apertura"
             minlength="3"
             maxlength="15"
             [(ngModel)]="horarioApertura"
             #campeonId = 'ngModel'>
    </div>
    <div *ngIf="campeonId.touched && campeonId.dirty && campeonId.errors">
      <p *ngIf="campeonId.errors.required ">
        Este campo es requerido.
      </p>
      <p *ngIf="campeonId.errors.minlength ">
        llenar con un minimo de 2 caracteres
      </p>
      <p *ngIf="campeonId.errors.maxlength ">
        Llenar con un maximo de 200 caracteres
      </p>
    </div>
    <br>
  </form>
</div>
<div mat-dialog-actions>
  <p-button label="Cancelar" styleClass="ui-button-secondary"
            (onClick)="cancelar()"></p-button>
  <p-button label="Aceptar" styleClass="ui-button-sucess"
            (onClick)="aceptar()"
            [disabled]="formularioEditar.invalid"
  ></p-button>
</div>

