<br><br><br>
<div class="ui-g">
  <div class="ui-g-4" >
  </div>
  <div class="ui-g-4" >
    <p-card header="BIENVENIDO">
      <form #loginFormulario="ngForm">
        <div>
          <label for="correoId">
            Correo:
          </label>
          <input id="correoId"
                 email="true"
                 name="correo"
                 required
                 title="Ingresa tu correo"
                 [(ngModel)]="correo"
                 style="width: 100%; height: 40px"
                 #correoInput = "ngModel"
          >
        </div>
        <div *ngIf="correoInput.touched && correoInput.dirty && correoInput.errors">
          <p *ngIf="correoInput.errors.required ">
            Este campo es requerido.
          </p>
        </div>
        <br>
        <div>
          <label for="passwordId">
            Password:
          </label>
          <br>
          <input id="passwordId"
                 type="password"
                 name="password"
                 required
                 [(ngModel)]="password"
                 style="width: 100%; height: 40px"
                 #passwordI = "ngModel"
          >
        </div>
        <div *ngIf="passwordI.touched && passwordI.dirty && passwordI.errors">
          <p *ngIf="passwordI.errors.required ">
            Este campo es requerido.
          </p>
        </div>
        <br>
        <div class="ui-g">
          <div class="ui-g-1"></div>
          <div class="ui-g-5">
            <p-button label="Sign in"  styleClass="ui-button-success"
                      [disabled]="loginFormulario.invalid"
            (onClick)="login()"></p-button>
          </div>
          <div class="ui-g-5">
            <p-button label="Sign up"  styleClass="ui-button-primary"
                      (onClick)="registrar()"></p-button>
          </div>
          <div class="ui-g-1"></div>
        </div>
      </form>
    </p-card>
    <div class="ui-g-4"></div>
  </div>
</div>
<router-outlet></router-outlet>
